<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <context:component-scan base-package="com.w.push.service" />
    <context:component-scan base-package="com.w.push.manager" />
    <context:component-scan base-package="net.w.user.cache" />
	
	<!-- 异常处理 -->
	<bean id="exceptionHandler" class="com.bsp.core.exception.ExceptionHandler" />
	
	<bean class="com.bsp.core.web.AppContext" id="appContext"></bean>
	
	<import resource="spring-redis.xml"/>
	<bean id="redisBase" class="com.bsp.core.cache.RedisBase"/>
	
	<!-- 缓存配置 -->
	<bean id="cacheProvider" class="com.bsp.cache.CacheProvider">
		<property name="cacheManager">
			<ref local="ehcache" />
		</property>
	</bean>
	
	<bean id="methodCacheInterceptor"
		class="com.bsp.cache.MethodCacheInterceptor">
		<property name="cacheProvider">
			<ref local="cacheProvider" />
		</property>
	</bean>

	<bean id="ehcacheAdvisor"
		class="com.bsp.cache.AnnotationMethodPointcutAdvisor">
		<property name="advice">
			<ref bean="methodCacheInterceptor" />
		</property>
		<property name="annotationCls">
			<value>com.bsp.cache.UseCache</value>
		</property>
	</bean>
	<bean id="autoProxyCreator"
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />
</beans>