<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	</typeAliases>
	<mappers>
		<!-- common -->
		<mapper resource="net/bsp/manager/dao/mybatis/common_SqlMap.xml" />
		
		<mapper resource="net/bsp/manager/dao/mybatis/AdminDAO.xml" />
		<mapper resource="net/bsp/manager/dao/mybatis/AdminMenuDAO.xml" />
		<mapper resource="net/bsp/manager/dao/mybatis/MenuDAO.xml" />
		<mapper resource="net/bsp/manager/dao/mybatis/RoleDAO.xml" />
		<mapper resource="net/bsp/manager/dao/mybatis/RoleDefaultMenuDAO.xml" />
		<mapper resource="net/bsp/manager/dao/mybatis/CityDAO.xml" />
		
	</mappers>
</configuration>
